<div class="conatiner">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12">
            <button
              type="submit"
              class="btn btn-success space"
              [disabled]="!blogForm.valid">Save</button>
            <button type="button" class="btn btn-danger space" (click)="onCancel()">Cancel</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-8">
            <div class="form-group">
              <label for="name">Blog Header</label>
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control">
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label for="cat">View:</label>
              <select class="form-control" formControlName="view" id="cat">
                <option>Public</option>
                <option>Private</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Content</label>
              <textarea
                id="widgEditor"
                type="text"
                name="description"
                class="form-control"
                formControlName="description"
                rows="10"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="imagePath">Image URL</label>
              <input
                type="text"
                id="imagePath"
                formControlName="imagePath"
                class="form-control"
                #imagePath>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="imagePath.value!=''">
          <div class="col-xs-12">
            <img [src]="imagePath.value" style="height: 200px; width: 300px;" class="img-responsive">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

