<div class="row justify-content-md-center">
  <div class="col-xs-10 col-md-5 ">
    <input
    type="text"
    class="form-control"
    [(ngModel)]="searchItem"
    placeholder="Search"
  />
  </div>
  <div class="col-xs-2 col-md-1">
    <button class="btn btn-primary" (click) = "onSearch()"><i class="fa fa-search"></i> Search</button>
  </div>
</div>
<div class="row justify-content-md-center" style="margin-top: 8px;">
  <div class="col-xs-10 col-md-5">
    <div class="form-group">
      <select class="form-control" id="filter" [(ngModel)]="filter">
        <option hidden disabled selected value> -- select an option -- </option>
        <option>Featured</option>
        <option>Latest</option>
        <option>Remove Filter</option>
      </select>
    </div>
  </div>
  <div class="col-xs-2 col-md-1 ">
    <button class="btn btn-info" (click)="onFilter()"><i class="fa fa-filter"></i> Filter</button>
  </div>
</div>
<hr>

  <div class="row tile first-div" styyle="background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3));">
      <div class="col-md-8 col-lg-6">
        <div class="col-md-12">
        <a
        [routerLink]="[3]">
          <div class="card card-inverse h-100 mb-3">
            <img src="{{blogs[3].image}}" class="img-fluid" alt="Responsive image">
            <div class="image__overlay image__overlay--primary">
                <div class="image__title">{{blogs[3].name}}</div>
                <p class="image__description">
                  {{ blogs[3].writter }} | {{ blogs[3].time.toString().split('T')[0] }}
                </p>
            </div> 
          </div>
        </a>
        </div>
          <div class="col-md-12">
            <a
            [routerLink]="[4]">
            <div class="card card-inverse h-100">
              <img src="{{blogs[4].image}}" class="img-fluid" alt="Responsive image">
              <div class="image__overlay image__overlay--primary">
                <div class="image__title">{{blogs[4].name}}</div>
                <p class="image__description">
                  {{ blogs[4].writter }} | {{ blogs[4].time.toString().split('T')[0] }}
                </p>
              </div> 
            </div>
            </a>
          </div>
      </div>
      <div class="col-md-4 col-lg-6">
        <div class="row h-100">
            <div class="col-md-6 col-lg-6 mb-3 gradient">
              <a
              [routerLink]="[0]">
                <div class="card card-inverse h-100">
                  <img src="{{blogs[0].image}}" class="img-fluid" alt="Responsive image">
                  <div class="image__overlay image__overlay--primary">
                    <div class="image__title">{{blogs[0].name}}</div>
                    <p class="image__description">
                      {{ blogs[0].writter }} | {{ blogs[0].time.toString().split('T')[0] }}
                    </p>
                  </div> 
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-6 mb-3">
              <a
              [routerLink]="[1]">
                <div class="card card-inverse h-100">
                  <img src="{{blogs[1].image}}" class="img-fluid" alt="Responsive image">
                  <div class="image__overlay image__overlay--primary">
                    <div class="image__title">{{blogs[1].name}}</div>
                    <p class="image__description">
                      {{ blogs[1].writter }} | {{ blogs[1].time.toString().split('T')[0] }}
                    </p>
                  </div> 
                </div>
              </a>
            </div>
            <div class="col-md-12">
              <a
              [routerLink]="[2]">
                <div class="card card-inverse h-100">
                  <img src="{{blogs[2].image}}" class="img-fluid" alt="Responsive image">
                  <div class="image__overlay image__overlay--primary">
                    <div class="image__title">{{blogs[2].name}}</div>
                    <p class="image__description">
                      {{ blogs[2].writter }} | {{ blogs[2].time.toString().split('T')[0] }}
                    </p>
                  </div> 
                </div>
              </a>
            </div>
        </div>
      </div>
  </div>

<div class="row" style="margin-top: 5%;">
  <div class="col-md-12 col-xs-12">
    <div class="alert alert-warning" *ngIf="error != ''">
      <p>{{ error }}</p>
    </div>
  </div>
</div>

<div class="blogdisplay">
  <owl-carousel-o [options]="customOptions" class="blogitems">  
        <ng-template carouselSlide *ngFor="let blog of blogs; let i = index">
          <div class="card" style="width: 20rem; height: 31rem;">
            <img class="card-img-top" style="height: 14rem;" [src]="blog.image" alt="{{ blog.name }}">
            <div class="card-body">
              <div class="d-inline">
                <h5 class="card-title">{{ blog.name }}</h5>
                <p>{{ blog.writter }} | {{ blog.time.toString().split('T')[0] }}</p>
              </div>
              <p class="card-text">{{ blog.description | shorten:100 }}</p>
              <a
              [routerLink]="[i]"
              routerLinkActive="active" 
              class="btn btn-primary">Read more</a>
            </div>
          </div>
        </ng-template>
    </owl-carousel-o>
  </div>
  <div class="row next-section" *ngIf="isAuthenticated">
  <div class="col-md-6">
    <h2 style="color: #343A40">Create Blog :</h2>
    <button class="btn btn-success" (click)="onNewBlog()">Create</button>
  </div>
</div>

<router-outlet></router-outlet>



