<div class="row">
  <div class="col-xs-3">
    <button class="btn btn-success" (click)="onNewBlog()" *ngIf="isAuthenticated">Create Blog</button>
  </div>
  <div class="col-xs-6">
    <input
    type="text"
    class="form-control"
    [(ngModel)]="searchItem"
    placeholder="Search"
  />
  </div>
  <div class="col-xs-3">
    <button class="btn btn-primary" (click) = "onSearch()"><i class="fa fa-search"></i> Search</button>
  </div>
</div>
<div class="row" style="margin-top: 8px;">
  <div class="col-xs-9">
    <div class="form-group">
      <select class="form-control" id="filter" [(ngModel)]="filter">
        <option hidden disabled selected value> -- select an option -- </option>
        <option>Featured</option>
        <option>Latest</option>
        <option>Remove Filter</option>
      </select>
    </div>
  </div>
  <div class="col-xs-1">
    <button class="btn btn-info" (click)="onFilter()"><i class="fa fa-filter"></i> Filter</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-warning" *ngIf="error != ''">
      <p>{{ error }}</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-blog-item
    *ngFor="let blog of blogs; let i = index"
    [blog]="blog"
    [index]="i"></app-blog-item>
  </div>
</div>


