.blogdisplay {
    min-width: 100%;
    background-image: url("../../../assets/5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5%;
}
.blogitems {
    margin-left: 5%;
}