<div class="wrapper" style="background-color: #F8F9FA; box-shadow: 0 4px 2px -2px #DFE0E1;">
  <div class="row text-center align-items-center mx-auto top-header" style="margin-bottom: -2%;">
    <div class="col-md-2">
      <i class="fa fa-facebook fa-lg" style="margin-right: 7%;"></i>
      <i class="fa fa-twitter fa-lg" style="margin-right: 7%;"></i>
      <i class="fa fa-instagram fa-lg"></i>
    </div>
    <div class="col-md-8">
      <img src="../../assets/science_logo.png" style="height: 70%; width: 70%;">
    </div>
    <div class="col-md-2">
      <button class="btn"><i class="fa fa-envelope"></i> Subscribe</button>
    </div>
  </div>
    <hr width="90%">
  <nav class="navbar navbar-light navbar-expand-lg mb-4 bg-light" style="margin-top: -1%;">
    <!-- <a class="navbar-brand" routerLink="/home">
      <img src="../../assets/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Blogging App
    </a> -->
    <!-- <button class="navbar-toggler d-lg-none mr-1" type="button" data-toggle="collapse" (click)="isShown=!isShown">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': isShown }">
      <ul class="navbar-nav ml-5 mr-auto align-items-center">
          <li class="nav-item item" style="margin-right: 10%;">
            <span class="navbar-toggler-icon"></span>
          </li>
          <li class="nav-item item" style="margin-right: 10%;">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item item" *ngIf="!isAuthenticated" style="margin-right: 10%;">
            <a class="nav-link" routerLink="/auth">Authenticate</a>
          </li>
          <li class="nav-item item" *ngIf="isAuthenticated" style="margin-right: 10%;">
            <a class="nav-link" routerLink="/my-posts">Posts</a>
          </li>
          <li class="nav-item item" *ngIf="isAuthenticated">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right mr-5 align-items-center">
        <li class="nav-item">
          <a class="nav-link" (click)="onClickSearch()" style="cursor: pointer;"><i class="fa fa-search"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onClickFilter()" style="cursor: pointer;"><i class="fa fa-filter"></i></a>
        </li>
        <li class="nav-item item ml-1" *ngIf="isAuthenticated">
          <a class="nav-link" (click)="onLogout()" style="cursor: pointer;">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<!-- Mobile header -->

<div class="wrapper1">
  <nav class="navbar navbar-light navbar-expand-lg mb-4 bg-light">
    <div class="d-inline">
      <a class="navbar-brand" routerLink="/home">
        <img src="../../assets/science_logo.png" style="height: 70%; width: 70%;">
      </a>
      <button class="navbar-toggler navbar-right" type="button" data-toggle="collapse" (click)="isShown=!isShown">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': isShown }">
      <ul class="navbar-nav mr-auto align-items-center">
          <li class="nav-item item" style="margin-right: 10%;">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item item" *ngIf="!isAuthenticated" style="margin-right: 10%;">
            <a class="nav-link" routerLink="/auth">Authenticate</a>
          </li>
          <li class="nav-item item" *ngIf="isAuthenticated" style="margin-right: 10%;">
            <a class="nav-link" routerLink="/my-posts">Posts</a>
          </li>
          <li class="nav-item item" *ngIf="isAuthenticated">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right mr-5 align-items-center">
        <!-- <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;"><i class="fa fa-search"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;"><i class="fa fa-filter"></i></a>
        </li> -->
        <li class="nav-item item ml-1" *ngIf="isAuthenticated">
          <a class="nav-link" (click)="onLogout()" style="cursor: pointer;">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>





