footer{
    margin-top: 5%;
    position: sticky;
    top: 100%;
}
.footer-bottom{
    color: #212222;
    background: #F8F9FA;
    /* width: 100vw; */
    padding: 5px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .8;
    font-weight: 200;
}