.space {
    margin-right: 5px;
}
.comment {
    background-color: #1ABC9C;
    height: 100px;
    overflow-y: scroll;
    padding: 2%;
    color: #FFFFFF;
}
.blogheader {
    font-size: 5rem;
    line-height: 2;
    font-weight: bold;
    margin-bottom: 1%;
}
.header {
  padding: 3%;
  text-align: left;
  background: #1abc9c;
  color: white;
  font-size: 2rem;
}
.blogimage {
    width: 100%;
}

