<div class="conatiner list-group-item clearfix">
    <div class="row">
      <div class="col-xs-10">
        <h1>{{ blog.name }}</h1>
      </div>
      <div class="col-xs-2">
        <p>{{ blog.view }}</p>
      </div>
    </div>
    <div class="row desc">
      <div class="col-xs-12">
        {{ blog.description }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <h4><i>Writter</i> - {{ blog.writter }}</h4>
      </div>
      <div class="col-xs-4">
        <i>Published on</i><br>- {{ blog.time.toString().split('T')[0] }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <button class="btn btn-success space" (click)="onLike()" [disabled]="!isAuthenticated"><i class="fa fa-thumbs-up"></i></button>{{blog.like}}
      </div>
      <div class="col-xs-4">
        <button class="btn btn-danger space" (click)="onDisLike()" [disabled]="!isAuthenticated"><i class="fa fa-thumbs-down"></i></button>{{blog.dislike}}
      </div>
      <div class="col-xs-4 ml-2 comment-title">
        <p>Comment Below</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <input
        type="text"
        class="form-control"
        [(ngModel)]="comment"
      />
      </div>
      <div class="col-xs-4">
        <button class="btn btn-primary" [disabled]="!isAuthenticated" (click)="onComment()">Comment</button>
      </div>
    </div>
    <div *ngIf="blog.comment.length != 0" class="row list-group-item clearfix comment">
      <div *ngFor="let c of blog.comment;" class="col-xs-12">
          <p>
            <b>{{c.name}}</b>:  {{c.comment}}
          </p>
      </div>
    </div>
  </div>
  
  
  