<div class="conatiner">
  <div class="header">
  <div class="row">
    <div class="col-md-12">  
      <h1>{{ blog.name }}</h1>
    </div>
  </div>
  <div class="row" style="font-size: 1rem;">
    <div class="col-md-5">
      <p><img src="../../../assets/avatar.png">&nbsp;&nbsp;&nbsp; By <b>{{ blog.writter }}</b> &nbsp;&nbsp;&nbsp;<i>{{ blog.time.toString().split('T')[0] }}</i></p>
    </div>
  </div>
  </div>
  <div class="row p-4">
    <div class="col-md-12">
      <img class="img-fluid rounded" src="{{blog.image}}">
    </div>
    </div>
  <div class="row justify-content-center p-4" style="font-size: 1.2rem;">
    <div class="col-md-11 col-xs-11">
      <p>{{ blog.description }}</p>
    </div>
  </div>
  <div class="row edit-div justify-content-end p-4">
    <div class="col-xs-12 mr-2">
      <button class="btn btn-primary space" (click)="onEditBlog()">Edit Blog</button>
      <button class="btn btn-danger space" (click)="onDeleteBlog()">Delete Blog</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>



